
$white:#FFF;
$silvery:#e9e7ef;
$snowyWhite:#f0fcff;
$grayLight:#c2ccd0;
$gray:#808080;
$grayDeep:#392f41;
$blackL:#312520;
$black:#161823;
$blackD:#000;
$orange:#fa8c35;
$yellow:#fff143;
$redLight:#f05654;
$red:#ff2121;
$redDeep:#c83c23;
$greenLight:#40de5a;
$green:#00e500;
$greenDeep:#057748;
$buleLight:#70f3ff;
$blue:#44cef6;
$blueDeep:#065279;


$themeColor:#2e4e7e;
$themeColorL:#4b5cc4;
$themeColorLL:#177cb0;
$themeColorD:#003472;
$themeColorDD:#4a4266;
$mainBg:$white;
$commonBg:$white;
$commonBorder:$gray;
$btnFontColor:$blueDeep;
$one:5px;
$defaultTextColor:$black;

$zIndex-page:1;
$zIndex-component:10;
$zIndex-modal:100;
$zIndex-max:1000;

$whiteHover:$snowyWhite;