<div class="main">
    <div class="main-content">
        <div class=""></div>
        <div class="table-area">
            <div class="table-bar content-item">
                <a class="btn" (click)="onLoaded()">
                    刷新
                </a>
                <a class="btn" routerLink="/userForm/">
                    添加
                </a>
            </div>
            <table class="default">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of table.dataList">
                    <td>{{data.name}}</td>
                    <td>{{data.password}}</td>
                    <td>
                        <a [routerLink]="'/userForm/'+data.id">修改</a>
                        <a (click)="table.remove(data.id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
        </div>
    </div>
</div>
